<div class="contact-form">
	<h5 class="contact-form-title text-center m-4">Contactez-nous</h5>

	<div class="row g-2 align-items-center m-3">
		<div class="contact-image">
			<p class="text-center">Une question, une suggestion, n'hésitez pas à nous contacter en cliquant
				<a href="{{ path ('app_contact') }}">
					<b>ici</b>
				</a>
			</p>
		</div>
	</div>
</div>
