
<h2 class="contact-title">Contactez-nous</h2>
 <div class="row mb-3">
            <div class="contact-form">
            <label for="exampleFormControlInput1" class="form-label">Adresse mail</label>
             <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Votre message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <button class="btn-primary rounded-5 mx-2 my-2 p-2" type="submit">Envoyer</button>
        </div>