{# Contact et Access #}
<div class="acces-contact">
<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="contact-card">
      <div class="card-body">
        <h5 class="card-title">Contactez-nous</h5>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Adresse mail</label>
             <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Votre message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="access-card">
      <div class="card-body">
        <h5 class="card-title">Retrouvez-nous ici</h5>
           <img src="{{ asset('build/images/chambéry_map.png') }}" class="img-fluid" alt="...">

      </div>
    </div>
  </div>
</div>
</div></div>
