{# Dernier chef-oeuvre et Acces #}
<div class="access-last-dish my-4">
<div class="row">
<div class="col-lg-6 mb-3">
    <div class="access-card my-3 mx-3 p-3 rounded-3">
      <div class="card-body">
        <h5 class="card-title text-center p-3">Notre dernier chef d'oeuvre</h5>
           <img class="image-item" src=" {{ vich_uploader_asset( lastdish, 'imageFile' ) }} " class="img-fluid" alt="...">         
      </div>
    </div>
  </div>
  <div class="col-lg-6 mb-3">
    <div class="access-card my-3 mx-3 p-3 rounded-3">
      <div class="card-body">
        <h5 class="card-title text-center p-3">Retrouvez-nous ici</h5>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d44678.617983129!2d5.871332959652342!3d45.58222920009456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478ba85708695f63%3A0xd5c21acfa63d899c!2s73000%20Chamb%C3%A9ry!5e0!3m2!1sfr!2sfr!4v1681236111774!5m2!1sfr!2sfr" width="100%" height="100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
