{# plats vedette #}
<div class="star py-4">
<div class="row">
<h2 class="text-center my-4">Nos plats vedettes</h2>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card my-3 mx-3 p-3 rounded-3">
            <img src="{{ asset('build/images/specials-1.jpg') }}" class="img-fluid" alt="...">         
            <h3 class="text-center">titre1</h3>
        </div>
      </div>
      <div class="col">
        <div class="card my-3 mx-3 p-3 rounded-3">
            <img src="{{ asset('build/images/specials-2.jpg') }}" class="img-fluid" alt="...">
            <h3 class="text-center">titre2</h3>
        </div>
      </div>
      <div class="col">
        <div class="card my-3 mx-3 p-3 rounded-3">
            <img src="{{ asset('build/images/specials-3.jpg') }}" class="img-fluid" alt="...">
            <h3 class="text-center">titre3</h3>
        </div>
      </div>
      </div>
      </div>