{# plats vedette #}
<div class="star" id= "star_container">
<div class="row">
<h2 class="text-center">Nos plats vedettes</h2>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card">
            <img src="{{ asset('build/images/specials-1.jpg') }}" class="img-fluid" alt="...">         
        </div>
      </div>
      <div class="col">
        <div class="card">
            <img src="{{ asset('build/images/specials-2.jpg') }}" class="img-fluid" alt="...">
         
        </div>
      </div>
      <div class="col">
        <div class="card">
            <img src="{{ asset('build/images/specials-3.jpg') }}" class="img-fluid" alt="...">
        </div>
      </div>
      </div>
      </div>