{# plats vedette #}
<div class="star py-4">
<div class="row">
<h2 class="text-center my-4">Nos plats vedettes</h2>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
     
      {% for dish in lasttree %}
       <div class="col">
        <div class="card my-3 mx-3 p-3 rounded-3">
           <img src=" {{ vich_uploader_asset( dish, 'imageFile' ) }} " class="img-fluid" alt="...">         
            <h3 class="text-center"> {{ dish.name }} </h3>  
        </div>
        </div>  
    {% endfor %}
    
      </div>
      </div>