{# plats vedette #}
<div class="star py-4 stars-info">
<div class="row">
<h2 class="text-center">Nos plats vedettes</h2>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4 mx-1">
      {% for dish in lasttree %}
       <div class="col">
        <div class="card mx-2 p-3 rounded-3">
            <img class="image-item" src=" {{ vich_uploader_asset( dish, 'imageFile' ) }} " class="img-fluid" alt="...">         
            <p class="dish-name text-center text-dark m-3"> {{ dish.name }} </p>  
        </div>
        </div>  
    {% endfor %}
    </div>
      </div>
      </div>