
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> symfony/framework-bundle ###
/vendor/
/var/
.env.local
public/bundles/
###< symfony/framework-bundle ###