{% extends 'base.html.twig' %}


{% block body %}
<h1 class="title">Formulaire de réservation</h1>
<h6 class="advice">Pour réserver, veuillez vous inscrire ou connecter.</h6>

{{ form(form)}}

{% endblock body %}
