{% extends 'base.html.twig' %}


{% block body %}
<h1 class="title">Formulaire de réservation</h1>

{# <form action="" class="reservation">
<p>Nom de la réservation</p>
</form> #}

{{ form(form)}}

{% endblock body %}
