{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
{% for dish in dishes %}
    <div class="col-md-4 lg-3 gallery">
  <div class="gallery-card card h-100 rounded-0 border-0">
    <div class="card-body">
    <img class="image-item" src=" {{ vich_uploader_asset( dish, 'imageFile' ) }} " alt="Card image cap">
      <h3 class="card-title text-center">{{ dish.name }}</h3></div>
    </div>
</div>


{% endfor %}
</div>
{% endblock %}
