
//Fonts_links
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



:root {
    font-family: 'Montserrat', sans-serif;
    --primary: #906427;
    --secondary: #618C03;
    --info: #392C1E;
}


.logo {
    font-family: 'Luxurious Script', cursive;
    font-size: 2rem;
}

.lash-dish, .access-card {
    background-color: var(--secondary);
    height: 100%;
}

.star, button{
    background-color:var(--primary);
    color:white;
    border-radius: 20px;
    margin: 10px;
    border-style: none;
}

iframe {
    border:0;
    height: 200%;
}

.imagemodele {
    height: 500px;
}

nav, footer {
    background-color: #392C1E;
    color:white;
}

h1 {
    color: var(--primary);
}

h2, h5 {
    color: white;
}

h3{
    color: var(--primary);
}

//page des plats 
.starter-title, .side-title {
    color:var(--secondary);
}

.dish-meat {
    background-color: var(--secondary);
}

.dish-dessert {
    background-color: var(--primary);
}
.starter-content, .side-content {
    color:var(--info);
}

.meat-content, .dessert-content {
    color: white;
}


//page des menus 
.menu-title, .category-title {
    color:var(--secondary);
}
.menu-description {
    color: var(--info);
}
 
.price {
    color: var(--primary);
    font-style: italic;
    font-weight: bolder;
}

