<!DOCTYPE html>
<html>
{% include 'base_site/head.html.twig' %}

    <body>
        {% include 'base_site/nav.html.twig' %}
        {% block body %}{% endblock %}
		{% include 'base_site/footer.html.twig' %}

    {% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{{ encore_entry_script_tags('intro') }}
	{% endblock %}
    </body>
</html>
