{% extends 'base.html.twig' %}

{% block body %}

<h1 class="menus-title text-center m-4 p-2">Nos menus</h1>

{% for menu in menus %}
    <div class="row m-2 p-2 text-center">
    <h3 class= "menu-title">{{menu.name}}</h3>
    <div class="menu-description">
        <p>{{ menu.description }}</p>
        <p class="price">Prix: {{ menu.price }} euros</p>
    </div>
</div>
{% endfor %}
{% endblock %}
