{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
<h1 class="dishes-title text-center ">Nos plats</h1>

{% for category in categories %}
    <div class="row m-2 p-2 text-center">
    <h3 class= "category-title text-center">{{category.name}}</h3>
    <div class="list-dishes">
        <ul class="list-unstyled">
             {% for dish in dishes %}
                {# {% if category.dish = category.name %} #}
                <li> {{ dish.name }} </li>
                {# {% endif %} #}
            {% endfor %}        
               
        </ul>
    </div>
</div>
{% endfor %}



{% endblock %}
