{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
<img src="{{ asset('build/images/boeuf-bourguignon2.jpg') }}" class="d-block w-100" alt="Plat" height="500">
</div>
<h1 class="dishes-title text-center ">Nos plats</h1>
<div class="row dish-starter">
    <h2 class= "starter-title text-center">Les entrées</h2>
    <div class="starter-content">
        <p>entrée 1</p>
    </div>
</div>
<div class="row dish-meat">
    <h2 class= "meat-title text-center">Les viandes</h2>
    <div class="meat-content">
        <p>viande 1</p>
    </div>
</div>
<div class="row dish-side">
    <h2 class= "side-title text-center">Les accompagnements</h2>
    <div class="side-content">
        <p>Accompagnement 1</p>        
    </div>
</div>
<div class="row dish-dessert">
    <h2 class= "dessert-title text-center">Les desserts</h2>
    <div class="dessert-content">
        <p>Dessert 1</p>        
    </div>
</div>
{% endblock %}
