{% extends 'base.html.twig' %}

{% block body %}
<h1 class="dishes-title text-center m-4 p-2">Nos plats</h1>

<div class="row dishes-columns">
{% for category in categories %}
    <div class="col-lg-3 col-sm-12 m-2 p-2 text-center">
    <h3 class= "category-title text-center">{{category.name}}</h3>
    <div class="list-dishes">
        <ul class="list-unstyled">
             {% for dish in dishes %}
                {% if dish.category is same as(category) %}
                <li> {{ dish.name }} </li>
                {% endif %}
            {% endfor %}        
               
        </ul>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}
